.container_header {
    background-color: black;
    width: 1349px;
    height: 80px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.call-icon {
    width: 43px;
    height: 43px;
    background: #FFE817;
    border-radius: 21.5px;
}

.border {
    margin-left: 72px;
    margin-top: 18px;
    display: flex;
}

.call-icon img {
    margin: 10px;
}

.logo_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_img {
    margin-right: 72px;
}

@media screen and (max-width: 700px) {
    .container_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .border1 {
        margin-left: -2px;
        font-size: 11px;
        margin-top: 12px;
        font-weight: bold;
        width: 113px;
    }
}

@media screen and (max-width: 700px) {
    .call-icon {
        margin-left: -66px;
        margin-top: 10px;
        width: 56%;
        height: 55%;
    }
}

@media screen and (max-width: 700px) {
    .call-icon img {
        margin: -2px;
        margin-top: -2px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 700px) {
    .play_img {
        width: 34px;
    }
}

@media screen and (max-width: 700px) {
    .play_img img {
        width: 100px;
        margin-top: 23px;
    }
}