.car_details {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #17C7FF;
    margin-top: 35px;
}
.Overview{
    margin-left: 270px;
}
.Facilities{
    margin-right: 270px;
}
.carname{
    display: flex;
    /* flex-direction: column; */
    margin: 30px;
    justify-content: space-around;
}
.ICON_CAR{
    margin-right: -190px;
}
@media screen and (max-width: 700px) {
    .content{
        width: 321px;
        font-size: 11px;
        font-weight: bold;
    }
}
@media screen and (max-width: 700px) {
    .data{
        margin-left: -29px;
        display: grid;
        grid-template-columns: repeat(2,0fr);
    }
}
@media screen and (max-width: 700px) {
    .CAR_manual img{
        width: 325px;
        height: 195px;
        margin-left: 18px;
    }
}
@media screen and (max-width: 700px) {
    .data1{
        margin-left: -223px;
        margin-top: 23px;
    }
}
