.car_detail_val {
    font-weight: bold;
}
.container_cardata {

    display : flex;
    margin-left: 15vw;
    margin-right: 15vw;

}

.container_cardata_item {

    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.car_details {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #17C7FF;
    margin-top: 35px;
    margin-bottom : 25px;
}
.car_detail {
    display : flex;
}

.car_detail div {
    flex : 1;
    margin-top: 3rem;;
}
.car_detail div:nth-child(3) {
    flex : 1;
    margin-top: 3rem;
    text-align: right;
}

.car_detail img {
    margin-right: 1rem;
    margin-top: 3rem;;

}
.Overview{
    width : 100%;
    text-align: center;
}
.Facilities{
    margin-right: 270px;
}
.carname{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    width : 30vw;
}

@media screen and (max-width: 700px) {
    .content{
        width: 321px;
        font-size: 11px;
        font-weight: bold;
    }
}
@media screen and (max-width: 700px) {
    .data{
        margin-left: -29px;
        display: grid;
        grid-template-columns: repeat(2,0fr);
    }
}
@media screen and (max-width: 700px) {
    .CAR_manual img{
        width: 325px;
        height: 195px;
        margin-left: 18px;
    }
}
@media screen and (max-width: 700px) {
    .data1{
        margin-left: -223px;
        margin-top: 23px;
    }
}
