.manual_data {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.arrow img{
    margin-left: -20px;
}
.data {
    display: flex;
    margin-left: 114px;

}

.data1 {
    display: flex;
    margin-right: 23px;
}

.share img {
    align-items: center;
    margin-left: 17px;
}

.share {
    margin-right: 0px;
    text-align: center;
}

.Enquire img {
    margin-left: 17px;
    align-items: center;
}

.Enquire {
    margin-right:56px;
    text-align: center;
}

.content {
    margin-left: 15px;
}

.share button {
    width: 98px;
    height: 34px;
    background-color: aquamarine;
    border-radius: 50px;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 12px;
}

.Enquire button {
    width: 98px;
    height: 34px;
    background-color: aquamarine;
    border-radius: 50px;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 12px;
}

.share span {
    margin-left: 5px;
}

.Enquire span {
    margin-left: 5px;
}

.CAR_manual {
    display : flex;
    justify-content: center;
    align-items: center;
    height: auto;


}

.CAR_manual img {
    width: 88vw;
    margin-top: 23px;

}

.container-Manual {
    overflow: hidden;
    width : 100%;
}
.DETAIL{
display: flex;
position: absolute;
margin-top: 52px;
color: white;
}
.arrow1 img{
    margin-left: 102px;
    padding-right: 23px;
    /* background: #FFFFFF; */

}
